*{
    transition: all 1s;/*Todos los objetos van a tardar 1 segundo en hacer sus animaciones, para que se vea mejor*/
    box-sizing: border-box;/*Con esto vamos a poder darle borde a cada celda, pero sin que afecte a su tamaño*/
}

body{/*Fondo de la pagina*/
    font-family: Calibri; /*Para que se utilice la fuente Calibri*/
    margin: 0;/*Espacio alrededor del borde de un elemento*/
    padding: 0;/*Espacio entre el contenido de un elemento y su borde*/
    user-select: none;/*Ponemos user select a none para que el usuario no pueda manipular las letras y los numeros*/
    background-color:steelblue;/*Damos color al fondo*/
}

table{/*El campo de juego va a ser contenido en una tabla*/
    background-color: grey;/*Color de fondo gris*/
    margin: auto;/*Para que el tablero se centre en la pagina*/
}

td{/*Cada una de las celdas va a ir en un td de la tabla*/
    border: rgb(0, 0, 0, 0.25) 1px solid;/*Pintamos el borde de cada celda y le damos un grosor de 1px. Sera negro sólido, pero
                                                con una opacidad solo del 25%*/
    

}
